<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBF14XWT_ZpM0mtkrKNzXyprYpzS_Bqx9E</string>
	<key>GCM_SENDER_ID</key>
	<string>549467151088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citizen</string>
	<key>PROJECT_ID</key>
	<string>urban-seva-7f9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>urban-seva-7f9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549467151088:ios:e0d088edea3a933a288035</string>
</dict>
</plist>